.background-preview {
  align-items: center;
  background-color: grey;
  border-radius: 4px;
  display: flex;
  height: 250px;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
  width: 100%;
}
